In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Date Methods').getOrCreate()

In [36]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DateType

schema = StructType([
    StructField('CustomerKey',StringType(),True),
    StructField('Prefix',StringType(),True),
    StructField('FirstName',StringType(),True),
    StructField('LastName',StringType(),True),
    StructField('BirthDate',StringType(),True),
    StructField('MaritalStatus',StringType(),True),
    StructField('Gender',StringType(),True),
    StructField('EmailAddress',StringType(),True),
    StructField('AnnualIncome',StringType(),True),
    StructField('EducationLevel',StringType(),True),
    StructField('Occupation',StringType(),True),
    StructField('HomeOwner',StringType(),True),
])

customers = spark.read.option('header','true').csv('customers.csv',schema = schema)
customers.show(5)

+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+--------------+----------+------------+
|CustomerKey|Prefix|FirstName|LastName|BirthDate|MaritalStatus|Gender|        EmailAddress|AnnualIncome|EducationLevel|Occupation|   HomeOwner|
+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+--------------+----------+------------+
|      11000|   MR.|      JON|    YANG| 4/8/1966|            M|     M|jon24@adventure-w...|    $90,000 |             2| Bachelors|Professional|
|      11001|   MR.|   EUGENE|   HUANG|5/14/1965|            S|     M|eugene10@adventur...|    $60,000 |             3| Bachelors|Professional|
|      11002|   MR.|    RUBEN|  TORRES|8/12/1965|            M|     M|ruben35@adventure...|    $60,000 |             3| Bachelors|Professional|
|      11003|   MS.|  CHRISTY|     ZHU|2/15/1968|            S|     F|christy12@adventu...|    $70,000 |             0| Bachelors|Professional|
|      11004|  MRS.|ELIZABETH| JOHNSON| 8/8/1968|            S|     F|elizabeth5@advent...|    $80,000 |             5| Bachelors|Professional|
+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+--------------+----------+------------+
only showing top 5 rows

In [37]:
from pyspark.sql.functions import add_months,date_format,col,udf
from datetime import datetime
from pyspark.sql.types import DateType

func = udf(lambda x : datetime.strptime(x,'%m/%d/%Y'),DateType())

df = customers.withColumn('BirthDate',func(customers.BirthDate))
df.select(add_months(df.BirthDate,1)).show()

+------------------------+
|add_months(BirthDate, 1)|
+------------------------+
|              1966-05-08|
|              1965-06-14|
|              1965-09-12|
|              1968-03-15|
|              1968-09-08|
|              1965-09-05|
|              1964-06-09|
|              1964-08-07|
|              1964-05-01|
|              1964-03-06|
|              1963-12-04|
|              1968-02-18|
|              1968-09-06|
|              1968-06-09|
|              1979-03-27|
|              1979-05-28|
|              1944-07-26|
|              1944-11-09|
|              1978-04-07|
|              1978-10-20|
+------------------------+
only showing top 20 rows

In [50]:
from pyspark.sql.functions import dayofmonth
df.select(dayofmonth(col('BirthDate'))).show()

+---------------------+
|dayofmonth(BirthDate)|
+---------------------+
|                    8|
|                   14|
|                   12|
|                   15|
|                    8|
|                    5|
|                    9|
|                    7|
|                    1|
|                    6|
|                    4|
|                   18|
|                    6|
|                    9|
|                   27|
|                   28|
|                   26|
|                    9|
|                    7|
|                   20|
+---------------------+
only showing top 20 rows